.filewizard{
	height: 200px;
	padding: 10px;
    border: 3px dashed #bdb7b7;
    color: #545353;
    cursor: pointer;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.filewizard:hover,
.filewizard.filewizard-dragover{
	color: #fff;
    background: #108fb5;
    border-color: #108fb5;
}
.filewizard .image-icon{
	font-size: 80px;
}

.photo-equalizer .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 143, 181, 0.56);
    bottom: 100%;
    transition: all .5s ease;
}
.photo-equalizer .overlay .preview-icon{
    display: block;
    text-align: center;
    top: 50%;
    color: #fff;
    font-size: 4em;
    transform: translateY(-50%);
}
.photo-equalizer:hover .overlay{
    bottom: 0;
}
.photos-container{
    position: relative;
    min-height: 90px;
}

.photos-container .photo-ajax-loader{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
    background: rgba(255,255,255,.6);
}